# Compiled class files
*.class
target/

# Log files
*.log

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Eclipse files
.classpath
.project
.settings/
.metadata/

# IntelliJ IDEA files
.idea/
*.iml

# MacOS
.DS_Store

# Windows
Thumbs.db

# Application properties with sensitive data
application-prod.properties